@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ItemRegistryExample</h1>
    <p>This is a tiny item register example, result of many followed tutorials and tinkering with stuffs as i am getting familiar with ASP.NET</p>

    <h2>Table of content</h2>
    <p>ASP.NET Core, Entity Framework, Razor Pages, MS SQL</p>
    <p>User registration, login and cookies.</p>
    <p>Create, list and edit items, with name and value attributes if the user logged in is an admin.</p>
    <p>List items into multiple pages with sorting and search feature.</p>
    <p>Only list items if the user is not admin or logged out.</p>

</div>




